#body
{
    background: #084d5890;
    text-align: center;
    color: #111144;
}
.gradient-background
{
    background: linear-gradient(300deg, #104a65, #a3c0bd, #104a65);
    background-size: 180% 180%;
    animation: gradient-animation 18s ease infinite;
    color: #fb4f14;
}
@keyframes gradient-animation
{
    0%{
        background-position: 0% 50%;
    }
    50%{
        background-position: 100% 50%;
    }
    100%{
        background-position: 0% 50%;
    }
}
.container
{
    display: flex;
    flex-direction: column;
    gap: 5px;
    justify-content: space-between;
}
h1
{
    text-align: center;
    font-family:  "Sofadi One";
}
h2
{
    color: rebeccapurple;
    font-family: cursive;
}
h4
{
    color: rgb(255, 116, 2);
}
.star {
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 50px;
}
ul {
    list-style-position: inside; /* Moves the bullets closer to the text */
    padding-left: 0; /* Removes default padding */
}

li {
    margin-left: 0; /* Ensures the text aligns properly */
}
li
 {
    font-family: "Sofadi One", system-ui;
    font-weight: 400;
    font-style: normal;
  } 

